* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.my-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  text-decoration: underline;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.nav-bar {
  color: white;
  background-color: rgb(0, 34, 255);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.links a {
  color: white;
  font-size: 20px;
}

.not-found {
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px;
  text-decoration: underline;
  transform: translate(-50%, -50%);
}

.box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.box a {
  color: black;
  font-weight: 900;
}

.btn {
  background-color: blue;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.btn:active {
  transform: scale(95%);
}

.btn-box {
  background-color: rgb(231, 62, 62);
  display: flex;
  justify-content: start;
  padding: 20px;
  gap:20px;
}