* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.parent {
  display: flex;
}

.card {
  background-color: rgb(226, 32, 65);
  color: white;
  margin: 20px;
  padding: 20px;
  width: 400px;
  border-radius: 20px;
}