* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 22%;
  border: 1px solid #dddddd;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card p {
  margin: 20px 0px;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* object-fit: cover; */
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.header {
  background-color: #222;
  text-align: center;
  padding: 20px 0px;
}